<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="text-align: center">List Blog</h1>

<table border="1" style="border-collapse: collapse">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tieu de</th>
            <th>Danh muc</th>
            <th>Ngay dang tin</th>
            <th>Phong vien</th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
    <tr th:each="blog: ${blogs}" th:object="${blog}">
        <td th:text="*{id}"></td>
        <td th:text="*{title}"></td>
        <td th:text="*{category.categoryName}"></td>
        <td th:text="*{#dates.format(dateRelease,'dd/MM/yyyy')}"></td>
        <td th:text="*{people}"></td>
        <td>
            <a th:href="@{/templates/blog/detail/{id}(id=*{id})}">Detail</a>
            <a th:href="@{/templates/blog/delete(id=*{id})}">Delete</a>
        </td>
        <a th:href="@{/templates/blog/create(id=*{id})}">Create</a>
    </tr>
    </tbody>
</table>
</body>
</html>