<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create blog</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Create new blog</h1>
    <form th:action="@{/templates/blog/create}" method="post" th:object="${blog}">
        <table>
            <tr>
                <td>Tieu de</td>
                <td><input type="text" th:field="*{title}" /></td>
                <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error"></td>
            </tr>

            <tr>
                <td>Danh muc</td>
                <td>
                    <select th:field="*{category.categoryId}">
                        <option th:each="c: ${categories}" th:value="${c.categoryId}"
                            th:text="${c.categoryName}"></option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>Noi dung</td>
                <td><input type="text" th:field="*{content}" /></td>
                <td th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="error"></td>
            </tr>

            <tr>
                <td>Ngay dang tin</td>
                <td><input type="date" th:field="*{dateRelease}" placeholder="dd/MM/yyyy" /></td>
                <td th:if="${#fields.hasErrors('dateRelease')}" th:errors="*{dateRelease}" class="error"></td>
            </tr>

            <tr>
                <td>Phong vien</td>
                <td><input type="text" th:field="*{people}" /></td>
                <td th:if="${#fields.hasErrors('people')}" th:errors="*{people}" class="error"></td>
            </tr>

            <tr>
                <td><input type="reset" value="Quay lai"></td>
                <td><input type="submit" value="Them moi"></td>
            </tr>
        </table>
    </form>
</body>
</html>