<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail blog</title>
</head>
<body>
    <h1>Detail blog</h1>
    <table th:object="${blog}">
        <tr>
            <td>Ma:</td>
            <td th:text="*{id}"></td>
        </tr>
        <tr>
            <td>Tieu de:</td>
            <td th:text="*{title}"></td>
        </tr>
        <tr>
            <td>Noi dung:</td>
            <td th:text="*{content}"></td>
        </tr>
        <tr>
            <td>Ngay dang tin:</td>
            <td th:text="${#dates.format(blog.dateRelease, 'dd/MM/yyyy')}"></td>
        </tr>
        <tr>
            <td>Danh muc:</td>
            <td th:text="${blog.category.categoryName}"></td>
        </tr>
        <tr>
            <td>Phong vien:</td>
            <td th:text="${blog.people}"></td>
        </tr>
    </table>
    <a th:text="|Dong|" th:href="@{/templates/blog/list}"></a>
</body>
</html>